# Flutter/Dart
build/
.dart_tool/
.packages
*.iml
pubspec.lock

# VS Code
.vscode/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/Flutter.framework
macos/Flutter/ephemeral/

# Web
web/main.dart.js
web/flutter_service_worker.js

# Misc
*.log
*.lock
