<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904006621832-ndntvft86q8v7sq4lfjn56m90m28u4nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904006621832-ndntvft86q8v7sq4lfjn56m90m28u4nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBSH1hFPqiPCM5kTYueKtQSDwXHYBCzBVA</string>
	<key>GCM_SENDER_ID</key>
	<string>904006621832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beutySupport</string>
	<key>PROJECT_ID</key>
	<string>beautysupport-7df1b</string>
	<key>STORAGE_BUCKET</key>
	<string>beautysupport-7df1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904006621832:ios:addb7decff33df9ae59d3d</string>
</dict>
</plist>